@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap");
/* Variables */
:root {
  --clr-gray: rgb(66, 66, 66);
  --clr-lightGray: rgb(85, 81, 81);
  --clr-white: whitesmoke;
  --clr-bg: #c6c2c2;
  --clr-hover: rgb(119, 106, 106);
  --clr-bg-nav: #6a6a6a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: gray;
}
body {
  background: var(--clr-bg);
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  background: var(--clr-gray);
}
header .container-nav li {
  list-style: none;
}
header .container-nav a {
  color: var(--clr-white);
  text-decoration: none;
  text-transform: uppercase;
}
header .container-nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
header .container-nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .container-nav .nav-links {
  transition: 0.7s ease;
}
header .container-nav .nav-links.active {
  border-bottom: 1px solid var(--clr-white);
}
header .container-nav .nav-links:hover {
  border-bottom: 1px solid var(--clr-white);
}
header .container-nav .btmMenu {
  display: none;
  color: var(--clr-white);
  font-size: 25px;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* Logo navbar */
header .container-nav .logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container-nav .logo {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

/* Main */

/* Botón */
.btn {
  background: var(--clr-gray);
  color: var(--clr-white);
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}
.btn:hover {
  color: var(--clr-bg);
  transition: 1s;
}

/* Sección sobre mí */
.container-main .section-sobreMi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 100px 100px;
}
.container-main .section-sobreMi h1 {
  text-align: center;
}
.container-main .section-sobreMi h1 .miNombre {
  text-align: center;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 21ch;
  animation: escritura 2s steps(21), cursor 0.5s infinite step-end alternate;
  overflow: hidden;
}
.container-main .section-sobreMi .container-foto {
  background: var(--clr-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.container-main .section-sobreMi .foto-sobreMi {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--clr-gray);
}
.container-main .section-sobreMi .redes {
  display: flex;
  color: var(--clr-white);
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  background: var(--clr-lightGray);
}
.container-main .section-sobreMi .redes a {
  color: var(--clr-white);
  text-decoration: none;
}
.container-main .section-sobreMi .redes i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  transition: 1s;
}
.container-main .section-sobreMi .redes i:hover {
  cursor: pointer;
  transition: 1s;
  color: var(--clr-hover);
}
.container-main .section-sobreMi .curriculum-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 15px;
}
.container-main .section-sobreMi .curriculum-container .curriculum-col {
  border-radius: 10px;
  min-width: max-content;
  padding: 20px;
  box-shadow: 0 0 5px 2px var(--clr-gray);
}
.container-main .section-sobreMi .curriculum-container .curriculum-col ul {
  list-style: none;
  padding: 10px;
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Sección tecnologias */
.container-main .section-tecnologias {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 100px 100px;
  color: var(--clr-white);
  background: var(--clr-lightGray);
}
.container-main .section-tecnologias .title {
  text-align: center;
}
.container-main .section-tecnologias .tecnologias {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.container-main .section-tecnologias .tecnologias .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-main .section-tecnologias .tecnologias .col .tecnologia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container-main .section-tecnologias .tecnologias .col .icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.container-main .section-tecnologias .enAprendizaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container-main .section-tecnologias .enAprendizaje .tecnologia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container-main .section-tecnologias .enAprendizaje .icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* Sección proyectos */
.container-main .section-proyectos {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-main .section-proyectos .title {
  text-align: center;
}
.container-main .section-proyectos .proyectos {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.container-main .section-proyectos .proyectos .proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px var(--clr-gray);
}
.container-main .section-proyectos .proyectos .proyecto img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: contain;
}
.container-main .section-proyectos .proyectos .proyecto .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
  background: var(--clr-bg-nav);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-main .section-proyectos .proyectos .proyecto .info-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-height: 187px;
}
.container-main .section-proyectos .proyectos .proyecto .info p {
  font-size: 2fr;
  text-size-adjust: inherit;
}
.container-main .section-proyectos .proyectos .proyecto .info ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.container-main .section-proyectos .proyectos .proyecto .info li {
  font-size: 2fr;
  text-size-adjust: inherit;
  font-weight: 500;
}
.container-main .section-proyectos .proyectos .proyecto .info .btns-proyecto {
  display: flex;
  gap: 10px;
  padding: 5px;
}
.container-main .section-proyectos .proyectos .proyecto .info .btn-proyecto {
  padding: 5px;
  border-radius: 5px;
  font-size: 2fr;
  text-size-adjust: inherit;
  text-decoration: none;
  color: var(--clr-white);
  background: var(--clr-gray);
  border: 2px solid var(--clr-bg-nav);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.container-main
  .section-proyectos
  .proyectos
  .proyecto
  .info
  .btn-proyecto:hover {
  background: var(--clr-white);
  color: var(--clr-gray);
}

/* Sección contactame */
.container-main .section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 100px;
  color: var(--clr-white);
  background: var(--clr-lightGray);
}
.container-main .section-contacto .title {
  text-align: center;
}
.container-main .section-contacto form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  background: var(--clr-gray);
  color: var(--clr-white);
  padding: 2fr;
  gap: 10px;
  border-radius: 10px;
  min-width: max-content;
  padding: 20px;
  box-shadow: 0 0 10px 5px var(--clr-gray);
}
.container-main .section-contacto form input,
.container-main .section-contacto form textarea {
  background: none;
  border: none;
  border-bottom: 4px solid var(--clr-white);
  resize: none;
  color: var(--clr-white);
  padding: 5px;
  width: 100%;
}
.container-main .section-contacto form input::placeholder,
.container-main .section-contacto form textarea::placeholder {
  color: var(--clr-white);
}
.container-main .section-contacto .btn-enviar {
  color: var(--clr-gray);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}
.container-main .section-contacto .btn-enviar:hover {
  background-color: var(--clr-bg-nav);
  color: var(--clr-white);
  transition: 1s;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 20px 100px;
  background: var(--clr-gray);
  color: var(--clr-white);
}
footer .redes {
  display: flex;
  color: var(--clr-white);
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
footer .redes a {
  color: var(--clr-white);
  text-decoration: none;
}
footer .redes i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  transition: 1s;
}
footer .redes i:hover {
  cursor: pointer;
  transition: 1s;
  color: var(--clr-hover);
}
footer .subir i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--clr-white);
  font-size: 50px;
  transition: 1s;
  border: 1px dashed var(--clr-bg-nav);
  border-radius: 50%;
}
footer .subir i:hover {
  color: var(--clr-bg);
  transition: 1s;
}

/* responsive */
@media screen and (max-width: 650px) {
  /* Nabvar */
  header .container-nav .btmMenu {
    display: flex;
  }
  header .container-nav .menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    justify-content: space-around;
    text-align: center;
    transition: 0.3s;
    background: var(--clr-bg-nav);
  }
  header .container-nav li {
    margin: 16px 0;
  }
  header .container-nav a {
    color: var(--clr-white);
    font-weight: 600;
  }
  header .container-nav .menu.active {
    right: 0;
  }

  /* Main */
  /* Sobre mí */
  .container-main .section-sobreMi {
    padding: 100px 50px;
  }
  /* Tecnologias */
  .container-main .section-tecnologias {
    padding: 100px 50px;
  }
  .container-main .section-tecnologias .tecnologias {
    grid-template-columns: auto;
    gap: 20px;
  }
  /* Proyectos */
  .container-main .section-proyectos {
    padding: 100px 50px;
  }
  .container-main .section-proyectos .proyectos {
    grid-template-columns: auto;
  }
  /* Contacto */
  .container-main .section-contacto {
    padding: 100px 50px;
  }
  /* Footer */
  footer {
    padding: 40px 50px 20px ;
  }
}

/* Animación */
@keyframes escritura {
  from {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
